@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 64.2 72% 94.7%;
    --foreground: 64.2 3.6% 7.4%;
    --card: 64.2 36% 94.7%;
    --card-foreground: 64.2 3.6% 12.4%;
    --popover: 64.2 72% 97.4%;
    --popover-foreground: 64.2 98.6% 4.7%;
    --primary: 64.2 81.1% 58.4%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 64.2 24.4% 79.4%;
    --secondary-foreground: 0 0% 0%;
    --muted: 102.2 24.4% 89.7%;
    --muted-foreground: 64.2 3.6% 37.4%;
    --accent: 102.2 24.4% 84.7%;
    --accent-foreground: 64.2 3.6% 12.4%;
    --destructive: 0 86% 39.4%;
    --destructive-foreground: 64.2 3.6% 94.7%;
    --border: 64.2 27.2% 65%;
    --input: 64.2 27.2% 33%;
    --ring: 64.2 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 64, 72%, 90%;
    --sidebar-foreground: 64, 4%, 7%;
    --sidebar-primary: 64, 81%, 53%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 102, 24%, 80%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 64, 27%, 62%;
    --sidebar-ring: 54, 98%, 45%;
  }
  
  .dark {
    --background: 64.2 38.8% 7.4%;
    --foreground: 64.2 3.6% 94.7%;
    --card: 64.2 36% 4.7%;
    --card-foreground: 64.2 3.6% 94.7%;
    --popover: 64.2 38.8% 5%;
    --popover-foreground: 64.2 3.6% 94.7%;
    --primary: 64.2 81.1% 58.4%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 64.2 24.4% 14.7%;
    --secondary-foreground: 0 0% 100%;
    --muted: 102.2 24.4% 19.7%;
    --muted-foreground: 64.2 3.6% 62.4%;
    --accent: 102.2 24.4% 19.7%;
    --accent-foreground: 64.2 3.6% 92.4%;
    --destructive: 0 86% 39.4%;
    --destructive-foreground: 64.2 3.6% 94.7%;
    --border: 64.2 27.2% 33%;
    --input: 64.2 27.2% 33%;
    --ring: 64.2 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 64, 39%, 10%;
    --sidebar-foreground: 64, 4%, 100%;
    --sidebar-primary: 64, 81%, 47%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 102, 24%, 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 64, 27%, 31%;
    --sidebar-ring: 54, 98%, 45%;
  }

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}